
/* Estilos gerais */
body {
    font-family: sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    max-width: 1196px !important;
    margin: 0 auto !important;
    padding-top: 10px !important;
  }
  
  /* Cabeçalho */
  header {
    padding: 1rem 0; 
    text-align: center; 
  }
  
  .navbar-brand {
    font-weight: bold; 
  }
  
  /* Seções */
  section {
    padding: 2rem 0; 
  }
  
  /* Rodapé */
  footer {
    background-color: #333; 
    color: white; 
    padding: 1rem 0; 
    text-align: center; 

  }
  
  
  /* Responsividade */
  @media (max-width: 768px) {
    .card-group {
      flex-direction: column; /* Muda para coluna em telas menores */
    }
  }
